/*
Theme Name: MairieDevCulturel
Template:wp-bootstrap-starter
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Table
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url("../wp-bootstrap-starter/style.css");

a{
	color:#DA1884;
}
	
a:active, a:hover {
	color:#E8B012;
}

.wp-show-posts-entry-summary, .wp-show-posts-entry-content, #embedded123frm1210372, #primary {
	background:rgba(255,255,255,0.5);
}

body{
	font-family:"helveticaneue",Arial,sans-serif;
}

#page{
	background:	url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/ovoide_ex05.png') 3% 5%/30% no-repeat scroll,
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/ovoide_ex04.png') 5% 30%/30% no-repeat scroll,
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/ovoide_ex06.png') 5% 60%/30% no-repeat scroll,
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/ovoide_ex02.png') 8% 90%/30% no-repeat scroll,
		
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/bienvenueaNantes.png') 5% 25%/8% no-repeat scroll,
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/sortiranantes.png') 7% 45%/10% no-repeat scroll,
				url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/bougeanantes.png') 2% 75%/5% no-repeat scroll;
	
	padding:0px;
}

header#masthead, body:not(.theme-preset-active) footer#colophon {
  	color: white;
  	background-color:black;
}
	
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face{
	font-family:"helveticaneue";
	src: url('fonts/_H_HelveticaNeueInterface.ttf');
}
	
h1, h2, h3, h4, h5, h6 {
	font-family:"helveticaneue",Arial,sans-serif;
    font-weight: 600;
 	margin-top: 24px;
  	margin-bottom: 15px;
}

h1.entry-title {
  font-size: 2.5em;
  color:#DA1884;
  border-bottom: 2px solid #E8B012;
}

h2.entry-title{
  color:#DA1884;
  border-bottom: 2px solid #E8B012;
}

.title-BGgreen {
	padding:10px;
	background-color:#B5BE00;
	color:white;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
#wpcf7-f1410-p1412-o1 label{
	margin:10px;
	background-color:rgba(232,176,18,0.5);
	font-size:1.2em;
	font-weight:bold;
	width:100%;
	padding:5px;
	box-sizing:border-box;
}

.wpcf7-form .formFlex{
	display:flex;
	justify-content:space-around;
}
/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.event-time, .event-url {
	width: 15%;
}

.event-description {
	width: 70%;
}

thead th {
	background-color: rgba(218,24,132,0.5);
	padding:20px;
	font-size:1.2em;
	vertical-align: middle;
	text-align: center;	
}

tbody td{
	border-top: 2px solid #E8B012;
	border-bottom: 2px solid #E8B012;
	vertical-align: middle;
}

tbody td.event-time, tbody td.event-url{
	text-align: center;
	font-size:1.2em;
}

tr:nth-child(odd){
	background-color: rgba(232,176,18,0.3);
	padding:20px;
}

tr:nth-child(even){
	background-color: rgba(232,176,18,0.1);
	padding:20px;
}

tr:hover td {
	background-color: #B5BE00;
	color: white;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*format boutons page*/

a.wp-show-posts-read-more, a.wp-show-posts-read-more:visited, button, .em-booking-submit, .wpcf7-submit,.btnAnnule{
    display: inline-block;
    padding: 8px 15px;
    color: white;
    font-size: 1em;
	font-weight:bold;
	margin-left:50px;
}

a.wp-show-posts-read-more, a.wp-show-posts-read-more:visited, button, .em-booking-submit, .wpcf7-submit{
   	background-color:#E8B012;
    border: 5px outset #E8B012;
}

.btnAnnule{
   	background-color:#B5BE00;
    border: 5px outset #B5BE00;
}	

a.wp-show-posts-read-more:hover, button:hover, .em-booking-submit:hover, .wpcf7-submit:hover,.btnAnnule:hover{
    color: #E5E5E5;
}

a.wp-show-posts-read-more:hover, button:hover, .em-booking-submit:hover, .wpcf7-submit:hover{
    background-color:#E8B012;
	border: 5px inset #E8B012;
}

.btnAnnule:hover{
	background-color:#B5BE00;
	border: 5px inset #B5BE00;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead .container{
	height:37px;
	padding:10px;
	box-sizing:border-box;
}

.bg{
	background-color:black;
	opacity:0.7;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
	 color: white;
}

.search-form .form-control {
	font-family:"helveticaneue",Arial,sans-serif;	
	width: 90%;
	line-height: 0;
	border-radius: 0px;
	font-weight: 500;
	font-size: 0.875rem;
}

#menu-main input{
	font-family:"helveticaneue",Arial,sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	padding:3px;
	margin-left: 20px;
}

#imgFriezeNantes{
	height:80px;
	width:100%;
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/barreOmbre.png'), repeat-x, fixed, bottom;
}

#logoMairieTop img{
	position:fixed;
	top:120px;
	left:20px;
	width:20%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget{
	padding:0 20px;
}
	
.widget-title{
	text-align:center;
	color:#E8B012;
	font-weight:bold;
	background-color : rgba(180,180,0,0.2);
	padding:10px;
}

h3.widget-title{
	font-size:2em;
}

#pages-2 .nav-link, #recent-posts-2 .nav-link{
	color:black;
	font-weight:bold;
	font-size:1.2em;
}
	
.tagcloud{
	padding:0 10px;
}

#recent-posts-2 .nav-item{
	list-style-type:square;
}
	
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content .container{
	max-width:75%;
	margin-right:0px;
	margin-top:80px;
}

.container{
	max-width:1700px;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.contentAccueil{
	padding:0 15px;
}

article .post-thumbnail{
	display:none;
}
.bigcase {
	width:50%;
	height:600px;
	text-align:center;
	font-weight:bold;
}

.smallcase {
	width:25%;
	height:300px;
	padding-top:17%;
	box-sizing:inherit;
	text-align:center;
	font-weight:bold;
	font-size:2.6em;
}
	
#textbienvenue, #decouverte1 a:hover,#decouverte2 a,#decouverte3 a,#decouverte4 a:hover,#decouverte5 a:hover,#prepaVoyage1 a:hover, #prepaVoyage4 a:hover, #prepaVoyage5 a:hover, #prepaVoyage8 a:hover{
	color:white;
}

#textbienvenue:hover{
	color:black;
}

#decouverte1 a, #decouverte4 a,#prepaVoyage1 a, #prepaVoyage4 a, #prepaVoyage5 a, #prepaVoyage8 a{
	color:#B5BE00;
}

#prepaVoyage2 a, #prepaVoyage3 a, #prepaVoyage6 a, #prepaVoyage7 a{
	color:#E8B012;
}

#decouverte5 a,#prepaVoyage2 a:hover, #prepaVoyage3 a:hover, #prepaVoyage6 a:hover, #prepaVoyage7 a:hover{
	color:#DA1884;
}	

#decouverte2,#textbienvenue{
	background-color:#E8B012;
}
	
#textbienvenue:hover, #decouverte3, #decouverte5:hover{
	background:#DA1884;
}

#prepaVoyage2:hover, #prepaVoyage3:hover, #prepaVoyage6:hover, #prepaVoyage7:hover{
	background:rgba(232,176,18,0.5);
}
	
#decouverte1:hover,#decouverte4:hover,#prepaVoyage1:hover, #prepaVoyage4:hover, #prepaVoyage5:hover, #prepaVoyage8:hover{
	background:rgba(180,180,0,0.5);
}

#imgbienvenue{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/VAN2017-734.jpg') no-repeat;
	background-position:center;
}

#imgbienvenue:hover{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/Le_Voyage_à_Nantes.png') no-repeat;
	background-size: 100%;
	background-position:center;
}

#textbienvenue{
	transition-property: color;
	transition-duration: 1s;
    transition-delay: 0.4s; 
	font-size:1.4em;
	margin:0px;
	padding:50px;
	line-height:140%;
}

#decouverte1 {
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/royaledelux.jpg') no-repeat;
}

#decouverte4{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/spectaclechateau.jpg') no-repeat;
}
	
#decouverte5{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/2018/05/festival.jpg') no-repeat;
	padding-top:17%;
}
	
#decouverte5 a{
	font-size:3em;
}


#prepaVoyage1{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/Famille.jpg') no-repeat;
}

#prepaVoyage2{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/Festival.jpg') no-repeat;
}

#prepaVoyage3{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/jeunes.jpg') no-repeat;
	}

#prepaVoyage4{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/musique.jpg') no-repeat;
}

#prepaVoyage5{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/musique.jpg') no-repeat;
}

#prepaVoyage6{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/theatre.jpg') no-repeat;
}

#prepaVoyage7{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/Loisir.jpg') no-repeat;	
}

#prepaVoyage8{
	background:url('https://projet01ocr.siegfriedchapotin.com/wp-content/uploads/musée.jpg') no-repeat;
} 

#imgbienvenue,#decouverte1,#decouverte2,#decouverte3,#decouverte4,#decouverte5,#prepaVoyage1, #prepaVoyage2, #prepaVoyage3, #prepaVoyage4,#prepaVoyage5, #prepaVoyage6, #prepaVoyage7, #prepaVoyage8{
	background-size: cover;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Plugin Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Woocommerce
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Visual Composer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-info{
	display:flex;
	justify-content:space-between;
}

#accesadmin img{
	opacity:0.3;
}

#accesadmin img:hover{
	opacity:1;
}
/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
	
	.bigcase {
		height:400px;
		}

	.smallcase {
		height:200px;
		font-size:2em;
		padding-top:15%;
		box-sizing:inherit;
		}

	#textbienvenue{
		line-height:110%;
		} 
		
	.wpcf7-form .formFlex{
		display:block;
	}
}

@media screen and (max-width: 1199px) {
	
  	#textbienvenue{
		line-height:100%;
		padding:40px;
		}
		
	.widget{
		padding:0px;
		}
	
	.wp-show-posts-columns .wp-show-posts-entry-title{
  		font-size:20px;
		}
}
/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	
	 .bigcase {
		height:400px;
		}
		
	.smallcase {
		height:200px;
		font-size:1.5em;
		padding-top:17%;
		box-sizing:inherit;
		}
	
	#textbienvenue{
		padding:25px;
		line-height:100%;
		}

}

@media only screen and (max-width: 991px) {
	
	 .bigcase {
		height:600px;
		}
		
	.smallcase {
		height:300px;
		font-size:2.5em;
		padding-top:17%;
		box-sizing:inherit;
		}
	
	#textbienvenue{
		padding:60px;
		line-height:150%;
		}
			
	#decouverte5{
		padding-top:40%;
		}
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {

}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	
	.bigcase {
		height:300px;
		}

	.smallcase {
		height:150px;
		font-size:1.8em;
		padding-top:10%;
		box-sizing:inherit;
		}

	#textbienvenue{
		line-height:100%;
		padding:20px;
		font-weight:normal;
		font-size:1.3em;
		} 
  			
	#decouverte5{
		padding-top:17%;
	}
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
	
	.bigcase {
		height:250px;
		}

	.smallcase {
		height:125px;
		font-size:1.8em;
		padding-top:10%;
		box-sizing:inherit;
		}
		
	#textbienvenue{
		font-size:1.2em;
		padding:10px;
		}

	h1.entry-title, h2.entry-title{
  		font-size: 1.5em;
		}
		.wp-show-posts .wp-show-posts-entry-title,h3 {
  		font-size: 1.2em;
		}
}

@media only screen and (max-width: 430px) {
	
	.bigcase {
		height:250px;
		}

	.smallcase {		
		font-size:1.5em;
		padding-top:20%;
		}
		
	#textbienvenue{
		font-size:1em;
		padding:7px;
		}
}