{% extends ('curriculum_vitae/layout/layout.html.twig') %}

{% block content %}

    <div class="row justify-content-between">

        {% include ('curriculum_vitae/homePage/know.html.twig') %}

        {% include ('curriculum_vitae/homePage/skill.html.twig') %}

    </div>

{% endblock %}