<header>
    <section  id="topPage" class="container-fluid">
        <div class="row whiteTxt">
            <h2 class="col-12"> Bienvenue <i class="far fa-smile"></i></h2>
            <a class="col-12" href="{{asset('/')}}" target="_blank">www.siegfriedchapotin.com</a>
        </div>
    </section>

    <section id="jumbotronRed" class="jumbotronRed whiteTxt">
        <div class="container-fluid">
            <h1 class="display-3">Chapotin Siegfried</h1>
            <p class="lead">Encadrement, technico-commercial et développement informatique</p>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 whiteTxt">
                <div class="row">
                    <div class=" d-sm-block col-lg-12 col-md-12 col-sm-5">
                        <h4>CONTACT</h4>
                        <p>8 rue de Brest, appt 27</br>
                            44300 Nantes</br>
                            TEL : 02.28.07.64.52
                        </p>
                    </div>
                    <div class=" col-xs-12 col-lg-12 col-md-12 col-sm-7">
                        <p><a href="mailto:siegfried.chapotin@laposte.net">siegfried.chapotin@laposte.net</a></p>

                        <p>
                            <a class="btn btn-danger" href="https://wordpress.com/me" data-toggle="tooltip"
                               data-placement="left" title="Wordpress" target="_blank"><i
                                        class="fab fa-wordpress-simple fa-2x"></i></a>
                            <a class="btn btn-danger"
                               href="https://www.linkedin.com/in/siegfried-chapotin-90b90265/" data-toggle="tooltip"
                               data-placement="top" title="Link In" target="_blank"><i
                                        class="fab fa-linkedin-in fa-2x"></i></a>
                            <a class="btn btn-danger" href="https://github.com/SiegfriedChapotin"
                               data-toggle="tooltip" data-placement="bottom" title="GitHub" target="_blank"><i
                                        class="fab fa-github-alt fa-2x"></i></a>
                            <a class="btn btn-danger"
                               href="https://openclassrooms.facebook.com/profile.php?id=100025978869993"
                               data-toggle="tooltip" data-placement="top" title="WordPlaceOCR" target="_blank"><i class="fa fa-users fa-2x" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger"
                               href="{{ asset('certificats/CvIntegrateurWeb.pdf') }}"
                               data-toggle="tooltip" data-placement="right" title="CV Format PDF" target="_blank"><i
                                        class="far fa-file-pdf fa-2x"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div  class="col-12 col-lg-8 col-md-7 offset-md-0 col-sm-12">

                <div id="jumbotronWhite" class="container-fluid marginTB">
                    <h1 class="display-3">Intégrateur Web</h1 >

                    <p class="lead">Un profil Webmaster et Webdesigner.<br/> Une expérience dans l'encadrement et la
                        conduite de projet</p>
                </div>
            </div>
        </div>

    </section>
</header>


