<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content='Intégrateur web, à prédominance "Front-end". Conception, gestion, développement de projet numérique. Élaboration de stratégie de communication web et print'>
    <meta name="publisher" content="Siegfried Chapotin">
    <meta name="keywords" lang="fr"
          content="siegfried, Chapotin, communication, intégrateur, web, développeur, siegfriedchapotin, designer, emploi, webdesigner, webmasteur,front-end">
    <meta name="reply-to" content="siegfried.chapotin@laposte.net">
    <meta name="category" content="dévelloppement web">
    <meta name="robots" content="index, follow">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="15 day">
    <meta name="author" content="Siegfried CHAPOTIN">
    <meta name="copyright" content="Siegfried CHAPOTIN">
    <meta name="abstract" content="Ce site présente mon curriculum vitae, avec un maximum de détails ...">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="100005151605992"/>
    <meta property="og:title" content="Siegfried Chapotin"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.siegfriedchapotin.com/"/>
    <meta property="og:image" content="{{ asset('images/resaux_sociaux/CvFB.png') }}"/>
    <meta property="og:description"
          content='Intégrateur web, à prédominance "Front-end". Conception, gestion, développement de projet numérique. Élaboration de stratégie de communication web et print'/>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Siegfried Chapotin CV Intégrateur Web">
    <meta name="twitter:url" content="https://www.siegfriedchapotin.com/">
    <meta name="twitter:description"
          content='Intégrateur web, à prédominance "Front-end". Conception, gestion, développement de projet numérique. Élaboration de stratégie de communication web et print'>
    <meta name="twitter:image" content="{{ asset ('images/resaux_sociaux/CvFB.png') }}">

    <link rel="icon" href="{{ asset('images/gauge.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/css.css') }}">

    <title>Siegfried Chapotin CV Intégrateur Web</title>

</head>
<body>
<div id="main" class="container-fluid no-gutters">