{% include "curriculum_vitae/layout/layoutGeneric/head.html.twig" %}


{% include "curriculum_vitae/layout/layoutGeneric/header.html.twig" %}

<section class="container-fluid ">


    {% block content %}

    {% endblock %}

</section>

{% include "curriculum_vitae/layout/layoutGeneric/footer.html.twig" %}

{% include "curriculum_vitae/layout/layoutGeneric/script.html.twig" %}