<div class="col-12 col-lg-4 col-md-5 col-sm-12 col-lg-3 col-xl-3  ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 whiteTxt">
                <div class="jumbotronRed paddingBot">
                    <h3>PROFILS</h3>
                    <hr/>

                    <h4>Intégrateur Web</h4>
                    <p> Création graphique, UX desinger Maquettage et création de site.</p>
                    <p class="certifSkill">
                        <a
                           href="https://siegfriedchapotin.com/public/document/certificats%20cours%20et%20parcours/Parcours/certificat_siegfried-chapotin_introduction-a-lintegration-web.pdf"
                           data-toggle="tooltip" data-placement="top" title="Certificat OpenClassRooms" target="_blank">
                            CERTIFICAT DE RÉUSSITE
                        </a>
                    </p>

                    <h4>Chef de projet ou assistant</h4>
                    <p> Conduite de projet, relation client et langage UML.</p>

                    <h4>Animateur de communauté</h4>
                    <p>Développement de projet en communication.<br/>
                        Stratégie de communication et gestion de réseaux<br/>
                        Référencement web.
                    </p>

                </div>
                <div class="paddingBot">

                    <h3>APTITUDES</h3>
                    <hr/>
                    <ul>
                        <li>Conception de publication
                            interne/externe (web CMS/
                            print Scribus)
                        </li>
                        <li>Développeur Front-End
                            (HTML5, CSS3, JQuery, JS)
                        </li>
                        <li>Web designer (GIMP, Blender)</li>
                        <li>Community manager /
                            référencement
                        </li>
                        <li>Stratégie de communication
                            mailing/réseaux sociaux
                        </li>
                        <li>Solution Framasoft</li>
                    </ul>

                </div>
                <div id="projet" class="jumbotronRed paddingBot">

                    <h3 id="realisations">Derniers projets réalisés</h3>
                    <hr/>

                    <a class="btn btn-success" href="https://projet06ocr.njnjardins.siegfriedchapotin.com/"
                       target="_blank">Site association (en cours)</a>
                    <a class="lien btn btn-success" href="https://github.com/SiegfriedChapotin/counterLouvre"
                       target="_blank">Billeterie (en cours/github)</a>
                    <a class="lien btn btn-success"
                       href="http://projet03ocr.forterochejean.siegfriedchapotin.com/" target="_blank">Blog écrivain</a>
                    <a class="lien btn btn-success " href="https://projet01ocr.siegfriedchapotin.com/"
                       target="_blank">site web "activités culturelles"</a>
                    <a class="lien btn btn-success" href="http://salon.siegfriedchapotin.com/" target="_blank">Salon
                        de discussion littéraire</a>

                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FI Loire-Atlantique
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="padding10">Cette plateforme a été fermée depuis, mais j'ai gardé le site
                                (donc possibilité d'une présentation)</p>
                            <p class="padding10">Site/mailing/infoGraphie/Print</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>